# general modules
django >4.2,<4.3
python-decouple
pillow
djangorestframework
djangorestframework-simplejwt

# third party modules
markdown
django-filter
coreapi
drf-yasg[validation]

# deployment modules

# email 3rd party modules
django-mail-templated

# refactoring and tests
black
flake8