# general modules
django >4.2,<4.3
python-decouple
pillow
djangorestframework
djoser

# third party modules
markdown
djangorestframework-simplejwt
django-filter
coreapi
drf-yasg[validation]
django-cors-headers

# deployment modules
locust

# email 3rd party modules
django-mail-templated

# refactoring and tests
black
flake8
pytest
pytest-django
faker

# background process and cache
celery
redis
django-redis